<h3>Invoice #: <span id="invoicenum"></span></h3>

<table border="0" class="cart">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Item</th>
      <th>SKU</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total Price</th>
      <th>Tax</th>
      <th>S&H</th>
    </tr>

    <tr id="cartitem">
      <td id="item-name">Bit O' Mead</td>
      <td id="item-sku">SKU-1234567</td>
      <td id="item-quantity" align="right">2</td>
      <td id="item-price" align="right">5.00 USD</td>
      <td id="item-total" align="right">10.00 USD</td>
      <td id="item-tax" align="right">0.00</td>
      <td id="item-shipping" align="right">0.00</td>
    </tr>

    <tr><td colspan="7"><hr></td></tr>

    <tr id="subtotal">
      <td colspan="2">Cart Total</td>
      <td id="subtotal-quantity" align="right">1</td>
      <td colspan="1"></td>
      <td id="subtotal-price" align="right">5.00 USD</td>
      <td id="subtotal-tax" align="right">0.00 USD</td>
      <td id="subtotal-shipping" align="right">0.00 USD</td>
    </tr>

    <tr>
      <td colspan="3"></td>
      <td>
	<form id="cancelform" action="http://localhost/" method="get">
	  <input name="commit" type="submit" value="Cancel" />
	</form>
      </td>
      <td>
	<form id="purchaseform" action="http://zxengine.dev/cgi-bin/webscr" method="post">
	  <input id="cmd" name="cmd" type="hidden" value="_xclick" />

	  <div id="purchaseinputs">
	    <input id="brand" name="brand" type="hidden" value="no_brand" />
	    <input id="business" name="business" type="hidden" value="50F626" />
	    <input id="invoice" name="invoice" type="hidden" value="20120523-150412" />

	    <input id="return" name="return" type="hidden" value="http://demostore.dev/store/return" />
	    <input id="notify_url" name="notify_url" type="hidden" value="http://demostore.dev/backend/notification" />
	    <input id="cancel_return" name="cancel_return" type="hidden" value="http://demostore.dev/store/cancel" />

	    <input id="item_name_1" name="item_name_1" type="hidden" value="Elixir of Mentho-Lyptus" />
	    <input id="item_number_1" name="item_number_1" type="hidden" value="itemsku23591" />
	    <input id="amount_1" name="amount_1" type="hidden" value="4.0" />
	    <input id="quantity_1" name="quantity_1" type="hidden" value="2" />

	    <input id="item_name_2" name="item_name_2" type="hidden" value="Bag of Holding Stuff" />
	    <input id="item_number_2" name="item_number_2" type="hidden" value="itemsku23591" />
	    <input id="amount_2" name="amount_2" type="hidden" value="0.5" />
	    <input id="quantity_2" name="quantity_2" type="hidden" value="1" />

	    <input id="currency_code" name="currency_code" type="hidden" value="USD" />
	    <input id="rm" name="rm" type="hidden" value="0" />
	  </div>

	  <input name="commit" type="submit" value="Purchase" style="align: right;" />
	</form>
      </td>
    </tr>

  </tbody>
</table>

<div id="responses">
  <p>
    <h2>Purchase was <span id="response-status">completed</span>!</h2>
    <hr/>
    <h3>PDT Lookup Response</h3>
    <table id="response-detail">
      <thead>
	<tr>
	  <th align="left">Parameter</th>
	  <th align="left">Value</th>
	</tr>
      </thead>
      <tbody>
	<tr id="response-entry">
	  <td id="response-param">txn_id</td>
	  <td id="response-value">9daf6dbcd7cf9ef9_4fc67191</td>
	</tr>
    </table>
  </p>
</div>
